* { -webkit-tap-highlight-color: transparent; user-select: none; }

.Game {
    position: fixed;
    left: 5%;
    height: 100%;
    width: min(90%, 500px);
    margin: 0 auto;
}

.Game:before {
    /* bg */
    background-image: url("../assets/images/bg.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0%;;
    right: 0%;
    content: "";
    z-index: -1;
}

.Start {
    width: min(90%, 500px);
    transition: all 1.5s ease-out;
    opacity: 1;
}


.Start:before {
    /* start */
    background-image: url("../assets/images/start.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0%;
    content: "";
    z-index: 1;
}

@media screen and (min-width: 500px) {
    .Game:before {
    /* bg */
    background-image: url("../assets/images/bg.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;

    position: fixed;
    top: 0;
    bottom: 0;
    left: calc(50vw - 250px);
    right: calc(50vw - 250px);
    content: "";
    z-index: -1;
    }

    .Start:before {
        /* start */
        background-image: url("../assets/images/start.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        position: fixed;
        top: 0;
        bottom: 0;
        left: calc(50vw - 250px);
        right: calc(50vw - 250px);
        content: "";
        z-index: 1;
    }
}



/* Result */
.Result {
    position: fixed;
    left: max(5vw, 50vw - 225px);
    right: max(5vw, 50vw - 225px);
    top: 5vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    justify-content: space-around;
    align-items: center;
}

.ResultStats {
    position: relative;
    
    padding: 1rem;
    width: 80%;

    height: calc(50vh);
    
    margin: 0 auto;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: fz;
    color: rgb(56,16,13);

}

.ResultInput {
    position: relative;
    height: calc(12vh);
    border-radius: 2rem;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;

    font-family: fz;
    color: rgb(56,16,13);


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ResultInput .p {
    text-align: center;
}

#ResultName {
    height: 2rem;
    text-align: center;
    margin: 1rem auto;
    width: 90%;
    border: none;
    border-bottom: 1px black solid;
    background-color: rgba(255,255,255,0);
    font-size: 1.5rem;
    font-family: fz;

    color: rgb(56,16,13);
}

.ResultImage {
    max-height: 45vh;
}

.ResultReport {
    position: relative;
    cursor: pointer;
    padding: 0.2rem;
    height: calc(10vh);
    margin: 0 auto;
    text-align: center;
    border-radius: 2rem;
    font-size: 1.2rem;

    color: rgb(56,16,13);
    font-family: 'fz';

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Question */

.QuestionBlock {
    position: fixed;
    left: max(5vw, 50vw - 225px);
    right: max(5vw, 50vw - 225px);
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;

    opacity: inherit;
    /* transition: all 1.5s ease-in; */
}



.QuestionDescription {
    position: relative;
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.8rem;
    border-radius: 2rem;
    font-family: fz;
    color: rgb(56,16,13);

}

.QuestionOptions {
    position: relative;
    margin: 0 auto;
    font-size: 1.05rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: fz;
    

    color: rgb(56,16,13);
}

.QuestionOption {
    margin: 0.6rem auto;
    width: 85%;
    line-height: 1.5rem;
    text-align: left;
    border-radius: 2rem;
    cursor: pointer;

}

.Report {
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding: auto; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#ReportImage {
    margin: auto;
    display: block;
    max-width: 100vw;
    max-height: 100vh;
}

.ReportClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #c1c1c1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    user-select: none;
    cursor: pointer;
}